.expertise-wrapper .container-left {
  padding: 90px 0;
}
@media screen and (max-width: 991px) {
  .expertise-wrapper .container-left {
    padding: 0;
  }
}
.expertise-wrapper .container-left h1 {
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #2c2e30;
}
.expertise-wrapper .container-left p {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: #2c2e30;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.expertise-wrapper .container-left a {
  width: 191px;
  height: 62px;
  border-radius: 5px;
  background-color: #6bb725;
  color: white;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .expertise-wrapper .container-left a {
    margin: auto;
    width: 94px;
    height: 46px;
    font-size: 15px;
    border: 2px solid #6bb725;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
  .expertise-wrapper .container-left p {
    text-align: center;
    font-size: 16px;
  }
  .expertise-wrapper .container-left h1 {
    /*font-size: 45px;*/
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .expertise-wrapper .container-left a {
    width: 80%;
    text-align: center;
  }
}
@media screen and (min-width: 425px) and (max-width:576px)  {
  .expertise-wrapper .container-left a {
    width: 180px;
    height: 55px;
  }
}
.expertise-wrapper .container-left a:hover {
  text-decoration: none;
  background-color: white;
  color: #6bb725;
  border: 2px solid #6bb725;
  transition: 0.5s ease;
}
.expertise-wrapper .container-right {
  background: url("../images/group-6@2x.png") no-repeat top center;
  -webkit-background-size: cover;
  background-size: cover;
}
@media screen and (max-width: 1200px){
  .expertise-wrapper .container-right{
    background-size: 124%;
  }
}

